<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itgaoshu.hospital.mapper.DoctorMapper" >
  <resultMap id="BaseResultMap" type="com.itgaoshu.hospital.bean.Doctor" >
    <id column="doctorId" property="doctorid" jdbcType="INTEGER" />
    <result column="doctorName" property="doctorname" jdbcType="VARCHAR" />
    <result column="departmentId" property="departmentid" jdbcType="INTEGER" />
    <result column="registeredId" property="registeredid" jdbcType="INTEGER" />
    <result column="dstate" property="dstate" jdbcType="INTEGER" />
    <result column="amStartTime" property="amstarttime" jdbcType="VARCHAR" />
    <result column="amEndTime" property="amendtime" jdbcType="VARCHAR" />
    <result column="pmStartTime" property="pmstarttime" jdbcType="VARCHAR" />
    <result column="pmEndTime" property="pmendtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    doctorId, doctorName, departmentId, registeredId, dstate, amStartTime, amEndTime, 
    pmStartTime, pmEndTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.itgaoshu.hospital.bean.DoctorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from doctor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from doctor
    where doctorId = #{doctorid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from doctor
    where doctorId = #{doctorid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.itgaoshu.hospital.bean.DoctorExample" >
    delete from doctor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itgaoshu.hospital.bean.Doctor" >
    insert into doctor (doctorId, doctorName, departmentId, 
      registeredId, dstate, amStartTime, 
      amEndTime, pmStartTime, pmEndTime
      )
    values (#{doctorid,jdbcType=INTEGER}, #{doctorname,jdbcType=VARCHAR}, #{departmentid,jdbcType=INTEGER}, 
      #{registeredid,jdbcType=INTEGER}, #{dstate,jdbcType=INTEGER}, #{amstarttime,jdbcType=VARCHAR}, 
      #{amendtime,jdbcType=VARCHAR}, #{pmstarttime,jdbcType=VARCHAR}, #{pmendtime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itgaoshu.hospital.bean.Doctor" >
    insert into doctor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="doctorid != null" >
        doctorId,
      </if>
      <if test="doctorname != null" >
        doctorName,
      </if>
      <if test="departmentid != null" >
        departmentId,
      </if>
      <if test="registeredid != null" >
        registeredId,
      </if>
      <if test="dstate != null" >
        dstate,
      </if>
      <if test="amstarttime != null" >
        amStartTime,
      </if>
      <if test="amendtime != null" >
        amEndTime,
      </if>
      <if test="pmstarttime != null" >
        pmStartTime,
      </if>
      <if test="pmendtime != null" >
        pmEndTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="doctorid != null" >
        #{doctorid,jdbcType=INTEGER},
      </if>
      <if test="doctorname != null" >
        #{doctorname,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null" >
        #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="registeredid != null" >
        #{registeredid,jdbcType=INTEGER},
      </if>
      <if test="dstate != null" >
        #{dstate,jdbcType=INTEGER},
      </if>
      <if test="amstarttime != null" >
        #{amstarttime,jdbcType=VARCHAR},
      </if>
      <if test="amendtime != null" >
        #{amendtime,jdbcType=VARCHAR},
      </if>
      <if test="pmstarttime != null" >
        #{pmstarttime,jdbcType=VARCHAR},
      </if>
      <if test="pmendtime != null" >
        #{pmendtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itgaoshu.hospital.bean.DoctorExample" resultType="java.lang.Integer" >
    select count(*) from doctor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update doctor
    <set >
      <if test="record.doctorid != null" >
        doctorId = #{record.doctorid,jdbcType=INTEGER},
      </if>
      <if test="record.doctorname != null" >
        doctorName = #{record.doctorname,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentid != null" >
        departmentId = #{record.departmentid,jdbcType=INTEGER},
      </if>
      <if test="record.registeredid != null" >
        registeredId = #{record.registeredid,jdbcType=INTEGER},
      </if>
      <if test="record.dstate != null" >
        dstate = #{record.dstate,jdbcType=INTEGER},
      </if>
      <if test="record.amstarttime != null" >
        amStartTime = #{record.amstarttime,jdbcType=VARCHAR},
      </if>
      <if test="record.amendtime != null" >
        amEndTime = #{record.amendtime,jdbcType=VARCHAR},
      </if>
      <if test="record.pmstarttime != null" >
        pmStartTime = #{record.pmstarttime,jdbcType=VARCHAR},
      </if>
      <if test="record.pmendtime != null" >
        pmEndTime = #{record.pmendtime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update doctor
    set doctorId = #{record.doctorid,jdbcType=INTEGER},
      doctorName = #{record.doctorname,jdbcType=VARCHAR},
      departmentId = #{record.departmentid,jdbcType=INTEGER},
      registeredId = #{record.registeredid,jdbcType=INTEGER},
      dstate = #{record.dstate,jdbcType=INTEGER},
      amStartTime = #{record.amstarttime,jdbcType=VARCHAR},
      amEndTime = #{record.amendtime,jdbcType=VARCHAR},
      pmStartTime = #{record.pmstarttime,jdbcType=VARCHAR},
      pmEndTime = #{record.pmendtime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itgaoshu.hospital.bean.Doctor" >
    update doctor
    <set >
      <if test="doctorname != null" >
        doctorName = #{doctorname,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null" >
        departmentId = #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="registeredid != null" >
        registeredId = #{registeredid,jdbcType=INTEGER},
      </if>
      <if test="dstate != null" >
        dstate = #{dstate,jdbcType=INTEGER},
      </if>
      <if test="amstarttime != null" >
        amStartTime = #{amstarttime,jdbcType=VARCHAR},
      </if>
      <if test="amendtime != null" >
        amEndTime = #{amendtime,jdbcType=VARCHAR},
      </if>
      <if test="pmstarttime != null" >
        pmStartTime = #{pmstarttime,jdbcType=VARCHAR},
      </if>
      <if test="pmendtime != null" >
        pmEndTime = #{pmendtime,jdbcType=VARCHAR},
      </if>
    </set>
    where doctorId = #{doctorid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itgaoshu.hospital.bean.Doctor" >
    update doctor
    set doctorName = #{doctorname,jdbcType=VARCHAR},
      departmentId = #{departmentid,jdbcType=INTEGER},
      registeredId = #{registeredid,jdbcType=INTEGER},
      dstate = #{dstate,jdbcType=INTEGER},
      amStartTime = #{amstarttime,jdbcType=VARCHAR},
      amEndTime = #{amendtime,jdbcType=VARCHAR},
      pmStartTime = #{pmstarttime,jdbcType=VARCHAR},
      pmEndTime = #{pmendtime,jdbcType=VARCHAR}
    where doctorId = #{doctorid,jdbcType=INTEGER}
  </update>
</mapper>