<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itgaoshu.hospital.mapper.DrugdictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.itgaoshu.hospital.bean.Drugdictionary" >
    <id column="drugId" property="drugid" jdbcType="INTEGER" />
    <result column="drugName" property="drugname" jdbcType="VARCHAR" />
    <result column="unitId" property="unitid" jdbcType="INTEGER" />
    <result column="sellingPrice" property="sellingprice" jdbcType="DOUBLE" />
    <result column="areaId" property="areaid" jdbcType="INTEGER" />
    <result column="typeId" property="typeid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    drugId, drugName, unitId, sellingPrice, areaId, typeId
  </sql>
  <select id="selectdgty" parameterType="Drugdictionary" resultType="Drugdictionary">
    SELECT dr.drugId,dr.drugName,un.unitId,un.unitName,dr.sellingPrice,ar.areaId,ar.areaName,ty.typeId,ty.typeName from drugdictionary dr,unit un,type ty,area ar where
        dr.unitId=un.unitId and dr.areaId=ar.areaId and dr.typeId=ty.typeId
    <if test="drugName!=null and drugName!=''">
      and dr.drugName like concat('%' ,concat(#{drugName},'%'))
    </if>
    ORDER BY dr.drugId asc
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.itgaoshu.hospital.bean.DrugdictionaryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from drugdictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from drugdictionary
    where drugId = #{drugid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from drugdictionary
    where drugId = #{drugid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.itgaoshu.hospital.bean.DrugdictionaryExample" >
    delete from drugdictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itgaoshu.hospital.bean.Drugdictionary" >
    insert into drugdictionary (drugId, drugName, unitId, 
      sellingPrice, areaId, typeId
      )
    values (#{drugid,jdbcType=INTEGER}, #{drugname,jdbcType=VARCHAR}, #{unitid,jdbcType=INTEGER}, 
      #{sellingprice,jdbcType=DOUBLE}, #{areaid,jdbcType=INTEGER}, #{typeid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itgaoshu.hospital.bean.Drugdictionary" >
    insert into drugdictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="drugid != null" >
        drugId,
      </if>
      <if test="drugname != null" >
        drugName,
      </if>
      <if test="unitid != null" >
        unitId,
      </if>
      <if test="sellingprice != null" >
        sellingPrice,
      </if>
      <if test="areaid != null" >
        areaId,
      </if>
      <if test="typeid != null" >
        typeId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="drugid != null" >
        #{drugid,jdbcType=INTEGER},
      </if>
      <if test="drugname != null" >
        #{drugname,jdbcType=VARCHAR},
      </if>
      <if test="unitid != null" >
        #{unitid,jdbcType=INTEGER},
      </if>
      <if test="sellingprice != null" >
        #{sellingprice,jdbcType=DOUBLE},
      </if>
      <if test="areaid != null" >
        #{areaid,jdbcType=INTEGER},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itgaoshu.hospital.bean.DrugdictionaryExample" resultType="java.lang.Integer" >
    select count(*) from drugdictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update drugdictionary
    <set >
      <if test="record.drugid != null" >
        drugId = #{record.drugid,jdbcType=INTEGER},
      </if>
      <if test="record.drugname != null" >
        drugName = #{record.drugname,jdbcType=VARCHAR},
      </if>
      <if test="record.unitid != null" >
        unitId = #{record.unitid,jdbcType=INTEGER},
      </if>
      <if test="record.sellingprice != null" >
        sellingPrice = #{record.sellingprice,jdbcType=DOUBLE},
      </if>
      <if test="record.areaid != null" >
        areaId = #{record.areaid,jdbcType=INTEGER},
      </if>
      <if test="record.typeid != null" >
        typeId = #{record.typeid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update drugdictionary
    set drugId = #{record.drugid,jdbcType=INTEGER},
      drugName = #{record.drugname,jdbcType=VARCHAR},
      unitId = #{record.unitid,jdbcType=INTEGER},
      sellingPrice = #{record.sellingprice,jdbcType=DOUBLE},
      areaId = #{record.areaid,jdbcType=INTEGER},
      typeId = #{record.typeid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itgaoshu.hospital.bean.Drugdictionary" >
    update drugdictionary
    <set >
      <if test="drugname != null" >
        drugName = #{drugname,jdbcType=VARCHAR},
      </if>
      <if test="unitid != null" >
        unitId = #{unitid,jdbcType=INTEGER},
      </if>
      <if test="sellingprice != null" >
        sellingPrice = #{sellingprice,jdbcType=DOUBLE},
      </if>
      <if test="areaid != null" >
        areaId = #{areaid,jdbcType=INTEGER},
      </if>
      <if test="typeid != null" >
        typeId = #{typeid,jdbcType=INTEGER},
      </if>
    </set>
    where drugId = #{drugid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itgaoshu.hospital.bean.Drugdictionary" >
    update drugdictionary
    set drugName = #{drugname,jdbcType=VARCHAR},
      unitId = #{unitid,jdbcType=INTEGER},
      sellingPrice = #{sellingprice,jdbcType=DOUBLE},
      areaId = #{areaid,jdbcType=INTEGER},
      typeId = #{typeid,jdbcType=INTEGER}
    where drugId = #{drugid,jdbcType=INTEGER}
  </update>
</mapper>