<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itgaoshu.hospital.mapper.DrugdictionaryMapper" >
  <select id="findAllSdrugdictionary" resultType="Drugdictionary">
    select d.drugid, d.drugname,d.typeid,d.unitid,d.areaid, u.unitname,d.sellingprice,a.areaname,t.typename from drugdictionary d,unit u,area a,type t where d.areaId=a.areaId and d.typeId=t.typeId and u.unitId=d.unitId
    <if test="drugname!=null and drugname!=''">
      and drugName like concat('%',concat(#{drugname},'%'))
    </if> order by d.drugId asc
  </select>

  <insert id="addSdrugdictionary" parameterType="Drugdictionary">
        insert into drugdictionary(drugName,unitId,sellingPrice,areaId,typeId)values(#{drugname},#{unitid},#{sellingprice},#{areaid},#{typeid})
    </insert>
  <update id="editSdrugdictionary" parameterType="Drugdictionary">
        update drugdictionary set drugName=#{drugname},unitId=#{unitid},sellingPrice=#{sellingprice},areaId=#{areaid},typeId=#{typeid} where drugId=#{drugid}
    </update>
  <delete id="deleteSdrugdictionary" parameterType="Integer">
        delete from drugdictionary where drugId=#{drugid}
    </delete>

  <select id="count" resultType="int">
        select count(*) from drugdictionary where drugName=#{drugname}
    </select>

  <select id="findAllArea" resultType="Area">
        select*from area
    </select>
  <select id="findAllType" resultType="Type">
        select*from type
   </select>
  <select id="findAllUnit" resultType="Unit">
        select*from unit
    </select>

  <select id="queryList" parameterType="Drugdictionary" resultType="Drugdictionary">
    SELECT dr.drugid,dr.drugname,un.unitid,un.unitname,dr.sellingprice,ar.areaid,ar.areaname,ty.typeid,ty.typename from drugdictionary dr,unit un,type ty,area ar where
    dr.unitId=un.unitId and dr.areaId=ar.areaId and dr.typeId=ty.typeId
    <if test="drugname!=null and drugname!=''">
      and dr.drugName like concat('%' ,concat(#{drugname},'%'))
    </if>
    ORDER BY dr.drugId asc
  </select>
</mapper>