<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itgaoshu.hospital.mapper.GuaHaoMapper">
    <select id="select" resultType="Report" parameterType="Report">
      select r.reportId,r.reportName,DATE_FORMAT(r.time,'%Y-%m-%d') datime,substr(r.carid,1,6) carido, substr(r.carid,16,18) caridt,r.phone,r.sex,r.age,p.department,d.doctorName,r.price,e.type,r.time,r.users,r.state,e.registeredid rregisteredid,d.doctorid rdoctorid,p.departmentId rdepartmentid
      from  report r,doctor d,registeredtype e,departments p
      where r.doctor=d.doctorId
      and d.registeredid=e.registeredId
      and  r.department=p.departmentId and r.state=1
    </select>

    <select id="one" parameterType="Doctor" resultType="Doctor">
      select d.doctorName doctorName,d.doctorId from doctor d, paiban p where departmentId=#{departmentId} and registeredid=#{registeredid} and d.doctorId=p.doctorId and p.one  != '无班' and  d.dstate!=3 and d.dstate=0
    </select>
    <select id="two" parameterType="Doctor" resultType="Doctor">
      select d.doctorName doctorName,d.doctorId from doctor d, paiban p where departmentId=#{departmentId} and registeredid=#{registeredid} and d.doctorId=p.doctorId and p.two  != '无班' and  d.dstate!=3 and d.dstate=0
    </select>
    <select id="three" parameterType="Doctor" resultType="Doctor">
      select d.doctorName doctorName,d.doctorId from doctor d, paiban p where departmentId=#{departmentId} and registeredid=#{registeredid} and d.doctorId=p.doctorId and p.three  != '无班' and  d.dstate!=3 and d.dstate=0
    </select>
    <select id="four" parameterType="Doctor" resultType="Doctor">
      select d.doctorName doctorName,d.doctorId from doctor d, paiban p where departmentId=#{departmentId} and registeredid=#{registeredid} and d.doctorId=p.doctorId and p.four  != '无班' and  d.dstate!=3 and d.dstate=0
    </select>
    <select id="five" parameterType="Doctor" resultType="Doctor">
      select d.doctorName doctorName,d.doctorId from doctor d, paiban p where departmentId=#{departmentId} and registeredid=#{registeredid} and d.doctorId=p.doctorId and p.five  != '无班' and  d.dstate!=3 and d.dstate=0
    </select>
    <select id="six" parameterType="Doctor" resultType="Doctor">
      select d.doctorName doctorName,d.doctorId from doctor d, paiban p where departmentId=#{departmentId} and registeredid=#{registeredid} and d.doctorId=p.doctorId and p.six  != '无班' and  d.dstate!=3 and d.dstate=0
    </select>
    <select id="seven" parameterType="Doctor" resultType="Doctor">
      select d.doctorName doctorName,d.doctorId from doctor d, paiban p where departmentId=#{departmentId} and registeredid=#{registeredid} and d.doctorId=p.doctorId and p.seven  != '无班' and  d.dstate!=3 and d.dstate=0
    </select>

    <update id="updateState">
      update report set state = 0 where DATE_FORMAT(time,'%Y-%m-%d') &lt; DATE_FORMAT(now(),"%Y-%m-%d") and state=1
    </update>

    <select id="selreg" resultType="Registeredtype">
        select * from  registeredtype
    </select>
    <select id="seltymo" parameterType="Registeredtype" resultType="Integer">
        select price from registeredtype where registeredId=#{registeredId}
    </select>

    <select id="seldep" resultType="Departments">
        select * from  departments
    </select>

    <insert id="addre" parameterType="Report">
      insert into report (reportname,sex,age,department,doctor,reporttype,price,time,users,state,phone,carid)
      values (#{reportName},#{sex},#{age},#{rdepartmentid},#{rdoctorid},#{rregisteredid},#{price},NOW(),#{users},1,#{phone},#{carid})
    </insert>

    <select id="phone" parameterType="Report" resultType="int">
        select count(*)from report where phone=#{phone} and state=1
    </select>
    <select id="carid" parameterType="Report" resultType="int">
        select count(*) from report where carid=#{carid} and state=1
    </select>

    <update id="delre" parameterType="Integer">
        update report set state = 0 where reportid = #{id}
    </update>

    <update id="zhuanyuan" parameterType="Report">
        update report set state =4,zhuan=#{zhuan} where reportId=#{reportId}
    </update>
</mapper>