<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itgaoshu.hospital.mapper.InoutpatienttypeMapper" >
  <resultMap id="BaseResultMap" type="com.itgaoshu.hospital.bean.Inoutpatienttype" >
    <id column="inoutpatientId" property="inoutpatientid" jdbcType="INTEGER" />
    <result column="projectName" property="projectname" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="INTEGER" />
    <result column="bigproJectId" property="bigprojectid" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    inoutpatientId, projectName, unit, bigproJectId, price
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.itgaoshu.hospital.bean.InoutpatienttypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from inoutpatienttype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from inoutpatienttype
    where inoutpatientId = #{inoutpatientid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from inoutpatienttype
    where inoutpatientId = #{inoutpatientid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.itgaoshu.hospital.bean.InoutpatienttypeExample" >
    delete from inoutpatienttype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itgaoshu.hospital.bean.Inoutpatienttype" >
    insert into inoutpatienttype (inoutpatientId, projectName, unit, 
      bigproJectId, price)
    values (#{inoutpatientid,jdbcType=INTEGER}, #{projectname,jdbcType=VARCHAR}, #{unit,jdbcType=INTEGER}, 
      #{bigprojectid,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.itgaoshu.hospital.bean.Inoutpatienttype" >
    insert into inoutpatienttype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="inoutpatientid != null" >
        inoutpatientId,
      </if>
      <if test="projectname != null" >
        projectName,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="bigprojectid != null" >
        bigproJectId,
      </if>
      <if test="price != null" >
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="inoutpatientid != null" >
        #{inoutpatientid,jdbcType=INTEGER},
      </if>
      <if test="projectname != null" >
        #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=INTEGER},
      </if>
      <if test="bigprojectid != null" >
        #{bigprojectid,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itgaoshu.hospital.bean.InoutpatienttypeExample" resultType="java.lang.Integer" >
    select count(*) from inoutpatienttype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update inoutpatienttype
    <set >
      <if test="record.inoutpatientid != null" >
        inoutpatientId = #{record.inoutpatientid,jdbcType=INTEGER},
      </if>
      <if test="record.projectname != null" >
        projectName = #{record.projectname,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null" >
        unit = #{record.unit,jdbcType=INTEGER},
      </if>
      <if test="record.bigprojectid != null" >
        bigproJectId = #{record.bigprojectid,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update inoutpatienttype
    set inoutpatientId = #{record.inoutpatientid,jdbcType=INTEGER},
      projectName = #{record.projectname,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=INTEGER},
      bigproJectId = #{record.bigprojectid,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itgaoshu.hospital.bean.Inoutpatienttype" >
    update inoutpatienttype
    <set >
      <if test="projectname != null" >
        projectName = #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=INTEGER},
      </if>
      <if test="bigprojectid != null" >
        bigproJectId = #{bigprojectid,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
    </set>
    where inoutpatientId = #{inoutpatientid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itgaoshu.hospital.bean.Inoutpatienttype" >
    update inoutpatienttype
    set projectName = #{projectname,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=INTEGER},
      bigproJectId = #{bigprojectid,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE}
    where inoutpatientId = #{inoutpatientid,jdbcType=INTEGER}
  </update>
</mapper>