<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itgaoshu.hospital.mapper.ReportMapper" >
  <select id="selectReportByState" resultType="Report">
    select r.reportId,r.reportName,r.sex,r.age,p.department,r.phone,r.carid,d.doctorName,r.price,e.type,r.time,r.users,r.state,r.zhuan,e.registeredid dregisteredid,d.doctorid ddoctorid,p.departmentId ddepartmentid
    from report r,doctor d,registeredtype e,departments p
    where r.doctor=d.doctorId
    and d.registeredid=e.registeredId
    and r.department=p.departmentId
    and r.state=2
  </select>
</mapper>